/* mobile first : @media screen and (max-width: 768px) */
/* Declare variable */
:root {
  --headerHeight: 60px;
  --sidebar-top:  61px;
  --mainMarginTop:65px;
}

.logo {
  border-radius: 8px; 
  width: 75px;
  height: 58px;
  padding-right: 3px;
}

.name{
  font-size: 1em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.894);
}

.logoName{
  display: flex;
  align-items: center;

}


/* Position and style the close button (top right corner) */
.sidebar {
  position: fixed;
  z-index: 1;
  background-color: rgba(253, 253, 253, 0.952);
  font-size: 36px;
  height: 100%;
  width: 100%;
  top: var(--sidebar-top);
  display: none;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: goldenrod;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--headerHeight);
  /* font-size: 20px; */
  /* cursor: pointer; */
  background-color: rgb(255, 255, 255);
  color: black;
  /* border-right: none ; */
  /* text-align: center; */
  border-bottom: 0.01px solid rgba(0, 0, 0, 0.546) ;
  top:0;
}

.headerRow {
  display: none;
}

/* Mobile: The button used to open the sidebar */
#navBtn {
  /* width: 100%; */
  font-size: 25px;
  cursor: pointer;
  background-color: white;
  color: rgba(0, 0, 0, 0.745);
  margin-right: 5px;
  border: none;
  
}

#navBtn:hover {
  color: rgba(0, 0, 0, 0.499) ;
}

/* Style page content */
#main {
  margin-top: var(--mainMarginTop);
  text-align: justify;
  font-size: 16px;
}

.pics {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

@media screen and (min-width: 992px) {
  .header{display: none;}
  .headerContainer{
    width: 100%;
    position: fixed;
    border-bottom: 0.01px solid rgba(0, 0, 0, 0.546) ;
    background-color: rgba(255, 255, 255, 1);
    height: var(--headerHeight);
    top:0;
  }
  .headerRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: var(--headerHeight);
    color: black;
  }
  /* The sidebar links */
.headerRow a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #190303;
  /* display: block; */
  transition: 0.25s;
}

.headerRow a:hover {
  color: rgba(188, 185, 171, 0.789);
}

}
